body {
    font-family: 'Arial', sans-serif;
    background-color: #0aa0f1;
    margin: 0;
    padding: 20px;
}
.container {
    text-align: center;
    background: #09d5e8;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}
.circle-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 10px;
}
.text p1 {
    font-size: 18px;
    color: #f5c609;
}
.text p {
    font-size: 17px;
    color :#605b5b
}
#judul {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
#tombol {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}
#tombol:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}
